@import url("https://use.typekit.net/uoy3iov.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "textbook-new", sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.styleScrollBox {
  box-shadow: -200px -7px 121px 2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: -200px -7px 121px 2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -200px -7px 121px 2px rgba(0, 0, 0, 0.51);
}

.scrollText {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 55s linear infinite;
  -webkit-animation: my-animation 55s linear infinite;
  animation: my-animation 55s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.MiddleNavOptionStyle {
  @apply cursor-pointer;
}
